@font-face
{
	font-family: "Century Gothic";
	src:url(fonts/GOTHIC.ttf);
}
@font-face
{
	font-family: "Montserrat";
	src:url(fonts/Montserrat.otf);
}
body 
{
	font-family: "Century Gothic",sans-serif;
	color:white;
	background: black;
}
h1,h2,h3,h4,h5,h6,ul
{
	margin:0;
	padding: 0;
}
section
{
	width: 100%;
	position:absolute;
	top:0;
	left:0;
	height: 100vh;
	overflow: hidden;
	z-index: 2;
}
section:not(.active)
{
	opacity: 0;
	z-index: -1;
}

.logo-container
{
	position: absolute;
	top:27.28635682158921%; 
	left: 8.272327964860908%;
}
.logo-container > div
{
	float:left;
	padding:0 40px;
}
.logo-container .caption
{
	margin-top: 27px;
}
.heading
{
	font-family: "Montserrat",sans-serif;
	font-size: 76px;
	color:#ece240;
	line-height: 66px;
}
.bgImg:after{
	content:"";
	background: url(../img/grid.png);
	position:absolute;
	background-size: 6px 6px;
	z-index: 20;
	height: 100%;
	width: 100%;
}
#home .bgImg
{
	background-image: url(../img/home-back.png);
	background-size: cover;
	background-position: top right;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
}
.container
{
	position: relative;
	max-width: 1366px;
	width: 100%;
	padding:0;
	height: 100%;
}
.txtyellow
{
	color:#ece240;
}
.greetings
{
	width: 40%
}
.greetings h1
{
	font-size: 45px;
}
.greetings h3
{
	font-size: 29px;
}
.greetings h1 span
{
	text-transform: capitalize;
}
.ribbon:after{position: absolute;overflow: hidden;}
section.active.ribbon-lb:after {
	content: url(../img/ribbon-lb.png);
	left:-4px;
	bottom: -4px;
	overflow:hidden;
	width: 0;
	-webkit-animation:ribWidth 1.3s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 0.7s;
	animation:ribWidth 1.3s;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
}
.menubar
{
	position: absolute;
	right: 40px;
	bottom: 30px;
	z-index: 9;
}
.menubar:not(.active)
{
	display: none;
}
.menubar .menu
{
	padding:10px 15px;
	text-align: right;
	overflow: hidden;
}
.menubar a
{
	color:white;
}
.menubar #menuList
{
	/*position: absolute;*/
    /*top: -117.4px;*/
    right: 0;
    overflow: hidden;
    height: 105px;
    width: 100px;
}
.menubar #menuList ul
{
    /*position: absolute;*/
    top: 0;
    right: 0;
}
.menubar #menuList li
{
	text-align: right;
	list-style: none;
	padding:2px 0;
}
.menubar #menuList li a
{
	text-decoration: none;
}
.menubar #menuList li.active a
{
	color:#ece240;

}
label
{
	font-weight: 500;
}
.w100
{
	width: 100%;
}
.mt30
{
	margin-top: 30px;
}
input[type=radio]{display: none}
.has-line.line-left:before
{
	left:0;
}
.has-line.line-right:before
{
	right:0;
}
.has-line.line-top:before
{
	top:0;
}
.has-line.line-bottom:before
{
	bottom:0;
}


/*ABOUT------------------------------------------------*/
.about-title
{
	margin-top:85px;
	margin-left: 65px;
	position: absolute;
	z-index: 2;
}
#about img
{
	border:5px solid #767676;
	border-radius: 100%;
	display: block;
	margin:0 auto;
	position: relative;
	/*top:-80px;*/
}
title
{
	color:white;
}
#about .dbox
{
	position: absolute;
	top:235px;
	width:0;
	height: 100px;
	background:#ece240;
	z-index: 9;
	-webkit-transition:1s ease;
	transition:1s ease;
}

.about-content
{
	position: absolute;
	top:calc(45% + 30px);
	right:100px;
	width:100%;
	max-width: 715px;
	transform:translateY(-50%);
}
.about-content .about-box
{
	height: calc(100vh - 100px);
	max-height: 700px;
	position: relative;
}
.about-content .about-box:before{
	content:"";
	position: absolute;
	top:65px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(38,38,38,0.7);
	z-index: -1;
}
.about-content h3
{
	/*margin-top:-80px;*/
	font-size: 40px;
}
#about .bgImg
{
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width:100%;
	background: url(../img/about-back.png);
	background-size: cover;
	background-repeat: no-repeat;
}
#about .about-desc
{
	padding:0 40px;
	overflow: scroll;
	height: calc(100% - 278px);
	margin-right: -20px !important;
	 overflow-y: scroll;
	 overflow-x: hidden;
}

#about .about-desc::-webkit-scrollbar,
#about .about-desc::-moz-scrollbar,
#portfolio .proj-list-container::-webkit-scrollbar,
#portfolio .proj-list-container::-moz-scrollbar
{
	display: none;
}
#about .about-desc p{
	margin-top:15px;
	font-size: 18px;
}

#fillModal
{
	display: none;
	opacity: 1;
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	background:#0c0c0c;
	text-align: center;
}
#fillModal *
{
	text-shadow: 0 0 40px  black ;
}
#fillModal:after
{
	position: absolute;
	content:url(../img/ribbon-modal.png);
	width: 500px;
	height: 500px;
	top:0;
	left:-43px;
}
#fillModal .modalContent
{
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-80%);
}
#fillModal .req
{
	font-size: 15px;
	color:#ece240;
	display: none;
}
#fillModal img
{
	display: block;
	margin:0 auto;
}
input,textarea
{
	background:transparent;
	border:0;
	outline: 0;
	border-bottom:1px solid #eee;
	text-align: center;
	width:100%;
	max-width: 300px;
	color:#ece240;
	position: relative;
}


a.button
{
	text-decoration: none;
	display: inline-block;
	margin:0 auto;
	font-size: 20px;
	padding:3px 15px;
	color:white;
	position: relative;
	margin-top:20px;
	transition:0.3s;
	text-align: center;
	float: right;
}
a.button:before,a.button:after
{
	content:"";
	position: absolute;
	width:100%;
	height: 100%;
	border:2px solid white;
	transition:0.3s;
}
a.button:before{
	border-left:none;
	border-top:none;
	top:0;
	right:0;
}
a.button:after{
	border-right:none;
	border-bottom:none;
	bottom:0;
	left:0;
}
a.button:hover
{
	color:white;
	transition-delay:0.12s;
}
a.button:hover:after,
a.button:hover:before
{
	height: 0;
	border-color:#ece240;
}

#fillModal p,#fillModal input
{
	font-size: 30px;
}

#portfolio .proj-list-container
{
	position:relative;
    overflow: auto;
    height: calc(100vh - 154px);
    margin-right: -20px !important;
	 overflow-y: scroll;
	 overflow-x: hidden;
}
#portfolio .desc-container
{
	margin:0 auto;
	margin-top:45px;
	padding:0 40px;
	width:80%;
}
#portfolio .desc-container > div
{
	float: left;
	padding:0 10px;
}
#portfolio .desc-container > div.desc-img
{
	text-align: right;
	width:40%;
}
#portfolio .desc-container > div.desc-img img
{
	margin:0 auto
}
#portfolio .desc-container > div.desc-details
{
	width:60%;
}
#portfolio .desc-container > div.desc-details #desc-content
{
	margin-top:0;
	font-size:20px;
	line-height:23px;
}
#portfolio .desc-container > div.desc-details #desc-title
{
	font-size:53px;
	text-transform:uppercase;
}
#portfolio .proj-list
{
	width:100%;
	margin:0 auto;
	/*margin-top:40px;*/
	position:relative
	/* padding: 0 30.2px; */
}
/*#portfolio .proj-list:after,
#portfolio .proj-list:before
{
	content:"";
	position:absolute;
	top:-20px;
	height:140%;
	width:4px;
	background:-webkit-linear-gradient(rgba(0,0,0,0),rgba(255,255,255,1),rgba(0,0,0,0));
	z-index:9;
}
#portfolio .proj-list:after
{
	left:-1px;
}
#portfolio .proj-list:before
{
	right:-1px;
}*/
#portfolio .proj-list .proj-item
{
	/* float:left; */
	 width:20%; 

}
#portfolio .proj-list .proj-item .proj-img
{
	
	width: 100%;
	/*height: 400px;*/
	padding:10px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
	transition: 0.3s ease;
	cursor:pointer;
}
#portfolio .proj-list .proj-item .proj-img:after,
#portfolio .proj-list .proj-item .proj-img:before
{
	content:"";
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	/*background:rgba(0,0,0,0);*/
	transition: 0.3s ease;
}
#portfolio .proj-list .proj-item .proj-img:before
{
	/*background:url(../img/portfolio/1.png);*/
	background-size: cover;
	background-position: center center;
}
#portfolio .proj-list .proj-item .proj-img:hover:after
{
	background:rgba(0,0,0,0.5);
}
#portfolio .proj-list .proj-item .proj-img:hover:before
{
	transform: scale(1.1)
}
#portfolio .proj-list .proj-item .details
{
	transform:translateX(-100%);
	background:rgba(0,0,0,1);
}
#portfolio .proj-list .proj-item:hover .details
{
	transform:translateX(0);
}
#portfolio .proj-nav
{
	position:absolute;
	width:85%;
	margin:0 auto;
	top:43px;
	left:0;
	right:0;
	/* z-index:-1; */
}

#portfolio .container
{
	max-width: none;
}

#portfolio .proj-menu
{
	inline-block;
	margin:0 auto;
	text-align:center;
	padding-bottom:15px;
}
#portfolio .heading
{
	margin:15px 0; 
}
#portfolio .proj-menu li
{
	display:inline-block;
	padding:0 15px;
	cursor:pointer;
	font-size:20px;
}
#portfolio .proj-menu li.active
{
	color:#ece240;
}
#portfolio .top-items
{
	/* max-width:1300px; */
	margin:0 auto;
	margin-bottom:10px;
}
.align-middle
{
	position:absolute;
	top:0;
	left:0;
	width:100%;

}
#portfolio .nav-container
{
	position: absolute;
	left:0;
	bottom:0;
	width: 100%;
}
#portfolio .proj-img .details
{
    position: absolute;
    /* top: 0; */
    bottom: 25px;
    left: 0;
    padding: 5px 10px;
    padding-bottom: 15px;
    z-index: 2;
    background: rgba(0,0,0,0.7);
    transition: 0.3s;
}
#portfolio .proj-img .details h3
{
	font-family: "Montserrat",sans-serif;
	text-transform: uppercase;
}
#portfolio .proj-img .details p
{

    background: #989227;
    text-transform: capitalize;
    display: inline-block;
    padding: 0 10px;
    position: absolute;
}
.desc-modal
{
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,0.6);
}
.desc-modal .links
{
	position: absolute;
	right: 50px;
    bottom: 30px;
}
.desc-modal .links a
{
	margin-left: 10px;
}
.desc-modal .desc-box
{
	width:100%;
	padding:30px;
	max-width: 1200px;
	background-color: black;
	margin:0 auto;
	position: absolute;
	top:40%;
	left:0;
	right:0;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 2;
}
.desc-modal .desc-box:after
{
	content:"";
	position: absolute;
	top:0;
	left:-50%;
	height: 100%;
	width: 200%;
	background-color:rgba(236,226,64,0.5);
	z-index: -2;
}
.desc-modal .desc-box:before
{
	content:"";
	position: absolute;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background-color:black;
	z-index: -1;
}
.desc-modal .desc-box .heading
{
	margin:5px 0;
}
.desc-modal .desc-box h1
{
	text-transform: uppercase;
}
.desc-modal .desc-box p
{
	font-size: 20px
}
.desc-modal .desc-box img
{
	margin:0 auto;
}
.desc-modal table tr td
{
	width: 30%;
	color:#ece240;
	font-size: 20px;
	padding:5px 0;
}
.desc-modal table tr td:last-child
{
	width: 60%;
	color:white;
}
.desc-modal table tr td:nth-child(2)
{
	text-align: center;
	width: 10%;
}
#contact input,textarea
{
	max-width: none;
	text-align: left;
	margin-bottom: 20px;
	font-size: 20px;
}
textarea
{
	height: 200px;
}
.contact-box
{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	width: 100%;
	transition: 0.3s;
}
.contact-box .heading
{
	margin-bottom: 30px;
}
#contact button
{
	float:left;
}
#contact li
{
	display: inline-block;
}
#contact .contact-title
{
	display: block;
	margin:0 auto;
}
#contact button
{
	display: none;
}
#confirmation
{
	color:white;
	/*position: absolute;*/
	text-align: center;
	width: 100%;
	display: none;
	height: 50px;
}
.menuList
{
	display: none;
	position: fixed;
	right:0;
	top:0;
	/*max-width:550px;*/
	width:100%;
	height: 100%;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1)90%);
}
.menuList ul
{
	position: absolute;
	right:50px;
	top:50%;
	transform:translate(0,-50%);
}
.menuList ul a
{
	font-size: 2em;
	display: inline-block;
	position: relative;
	left:0;
	transition:0.3s;
	color:#a29d9d;
	text-decoration: none;
}
.menuList ul li.active a,
.menuList ul a:hover
{
	color:#ece240;
	left:-5px;
}
.menuList ul li.active a:after,
.menuList ul a:hover:after
{
	width: 100%;
}
.menuList ul a:after
{
	position: absolute;
	content:"";
	bottom:0;
	left:0;
	height: 2px;
	width: 0;
	transition:0.3s;
	background-color: #ece240;

}


.menuList ul li
{
	list-style: none;
	padding:10px 0;
	transition:0.3s;
	position: relative;
	left:10px;
	opacity: 0;
}
.menuList ul li:nth-child(2){transition-delay:0.1s;}
.menuList ul li:nth-child(3){transition-delay:0.15s;}
.menuList ul li:nth-child(4){transition-delay:0.2s;}
.menuList.active ul li{
	left:-5px;
	opacity: 1
}
.menuToggler
{
	position: fixed;
	bottom:50px;
	right: 50px;
	 z-index: 9;
	transition:0.3s ease;
	cursor: pointer;
}
.menuToggler span
{
	position: relative;
	width:40px;
	height: 2px;
	background-color: #545454;
	display: block;	
	transition:0.3s ease;
}
.menuToggler span:nth-child(2)
{
	margin:15px 0;
}

.menuToggler.active span:first-child
{
	transform:rotate(45deg) translate(12px,12px);
}
.menuToggler.active span:last-child{
    transform: rotate(-45deg) translate(12px,-12px);
}
.menuToggler.active span:nth-child(2)
{
	width:0;
}